version: 2021.1006.{build}
pull_requests:
  do_not_increment_build_number: true
skip_tags: true
clone_depth: 1
cache:
  - '%LOCALAPPDATA%\NuGet\v3-cache'
dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: 2021.1006.1
build_script:
- cmd: >-
    dotnet build osu.Desktop -c Release -r win-x64

    dotnet build osu.Desktop -c Release -r linux-x64
test: off
artifacts:
- path: ./osu.Desktop/bin/Release/net5.0/win-x64
  name: osu-windows
- path: ./osu.Desktop/bin/Release/net5.0/linux-x64
  name: osu-linux
deploy:
- provider: GitHub
  tag: 2021.1006.1
  auth_token:
    secure: wBUeC7f0SGZTu01Bl50RTSas9yizhxdAeqofugDSTpOoZFXOyzvP+X2OOAnaqIWz
  repository: PercyDan54/osu
  artifact: osu-windows, osu-linux