version: 2020.1229.{build}
pull_requests:
  do_not_increment_build_number: true
skip_tags: true
configuration: Release
clone_depth: 1
before_build:
- ps: >-
    nuget restore -verbosity quiet
build:
  project: build\Desktop.proj
  parallel: true
  verbosity: minimal
after_build:
- ps: >-
    dotnet tool restore

    dotnet format --dry-run --check
test: off
artifacts:
- path: ./osu.Desktop/bin/Release/netcoreapp3.1
  name: osu